.login-form {
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), rgba(0, 0, 0, 0.55) url('../../../assets/schoolOne/loginbg.jpg') no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

  .loginForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform .05s ease, padding .5s ease;
    padding: 0px 25px 35px;
    background-color: #fff;
    font-size: 14px;
     border-radius: 10px;
    width:300px;
  }
  .logo{
    width: 200px;
  }

    .logoImg{
        text-align: center;
    }
    .half-width{
      width: 48%;
    }
    .full-width{
      width: 100%;
    }
.forgot-link{
  float:right;
}

.rembx{
  padding-bottom: 14px;
}
