<div class="login-form">
  <form class="loginForm"   (ngSubmit)="loginUser(fm)" #fm="ngForm">
        <p class="logoImg">
          <img src="../../assets/schoolOne/logos.png" class="logo">
        </p>
         <mat-form-field class="half-width">
            <input matInput placeholder="Code" ngModel name="scode"  required>
          </mat-form-field>
          <mat-form-field class="half-width">
              <mat-select [(value)]="selected"  placeholder="Academic year" ngModel  name="selected" required>
                  <mat-option value="option1">Option 1</mat-option>
                  <mat-option value="option2">Option 2</mat-option>
                  <mat-option value="option3">Option 3</mat-option>
                </mat-select>
          </mat-form-field>
        <mat-form-field class="full-width">
        <input matInput placeholder="Username" ngModel name="username" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Password" ngModel name="password"  required>
      </mat-form-field>
      <div class="full-width rembx">
        <mat-checkbox   [checked]="rememberMe" value="remember" name="remember" > Remember me</mat-checkbox>
        <a href  class="forgot-link"> Forgot Password ?</a>
      </div>
      <button mat-raised-button color="primary" class="full-width" type="submit"> Login </button>
  </form>
</div>
