.login-form {
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), rgba(0, 0, 0, 0.55) url('../../../assets/schoolOne/loginbg.jpg') no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;

  .loginForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform .05s ease, padding .5s ease;
    padding: 0px 40px 35px;
    background-color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    border-radius: 10px;
    p{
        text-align: center;
    }
    .logo{
        height: 100px;
        width: 100px;
        margin-top: -40px;
        border-radius: 50%;
    }
  }


}
